@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    background-color: #ddd !important;
}

:root {
    --app-min-width: 200px;
    --app-max-width: 450px;
    --app-min-height: 500px;
    --app-max-height: 900px;
}

body > main, body > div#__next > main {
    display: block;
    min-width: var(--app-min-width);
    max-width: var(--app-max-width);
    min-height: var(--app-min-height);
    max-height: var(--app-max-height);
    height: 100vh;
    background-color: white;
    margin: auto;
}

main > main {
    padding: 10px;
}

@media screen and (min-height: 900px /*--app-min-height*/ ) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        max-height: none;
    }
}